@import "~www/scss/variables";
@import "~@neos21/bootstrap3-glyphicons/dist/css/bootstrap3-glyphicons.css";
@import '~font-awesome/scss/font-awesome';

prm-icons-picker {
  padding: 2rem;
  display: block;

  label {
    margin-right: 1rem
  }

  .icon-picker {
    flex-shrink: 0;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    height: 44px;
    width: 48px;
    padding: 10px 12px;
  }

  .sticky-button {
      position: sticky;
      bottom: 0;
      background-color: $background;
      width: 100%;
      padding: 10px 5px 10px 0;
    }
}


