prm-file-tree {
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    overflow: hidden;
    text-decoration: none;
    color: #555
  }

  li{
    position: relative;
    padding: 0 20px 20px 20px !important;
    border: none !important;
    font-size: inherit !important;
    height: auto !important;
    font-weight: initial;
    line-height: 18px;
    cursor: pointer
  }

  .ft_expand{
    background: url(https://cdn3.iconfinder.com/data/icons/fugue/bonus/icons-shadowless-24/folder-horizontal-open.png) no-repeat;
    background-size: 16px 16px;
  }

  .ft_collapse{
    background: url(https://cdn2.iconfinder.com/data/icons/fugue/icon_shadowless/folder_horizontal.png) no-repeat;
    background-size: 16px 16px;
  }

  .ft_child{
    background: url(https://cdn2.iconfinder.com/data/icons/font-awesome/1792/file-text-o-16.png) no-repeat;
    background-size: 16px 16px;
  }

  .ft_selected{
    font-weight: 700;
  }

  .hide{
    display: none;
  }

  .ft_deselected{
    font-weight: normal;
  }
}