<div class="app-wrapper" [class.remove-background-image]="isInTestTabWithResults()">

    <prm-configuration-form [class.is-running]="isUp()"
                            [class.is-floating]="isUp() && sidenavCollapsed"></prm-configuration-form>

    <aside class="app-sidenav" *ngIf="isUp()" [class.is-collapsed]="sidenavCollapsed"
           [class.is-tab-expanded]="!sidenavCollapsed && expandTab">
        <div class="sidenav-title">
            <img src="../images/Exlibris_ProQuest-logo.png" alt="" *ngIf="!sidenavCollapsed">
            <span *ngIf="!sidenavCollapsed">{{appTitle}}</span>
            <span class="flex"></span>
            <button class="menu-button" (click)="toggleSidenav()">
                <i class="icon-chevrons-left" [class.is-rotated]="sidenavCollapsed"></i>
            </button>
        </div>
        <div class="sidenav-main">
            <div class="sidenav-nav">
                <ul>
                    <li *ngFor=" let tab of tabs"
                        title="{{tab.name}}"
                        (click)="selectTab(tab)"
                        [class.is-selected]="tab.name == selectedTab.name"
                        [matTooltip]="getTooltipMessage(tab)"
                        [matTooltipDisabled]="!isTooltipDisplayed(tab)"
                        [matTooltipClass]='"custom-tooltip"'>
                        <i class="icon-{{tab.icon}}" [class.material-icons]="tab.name === 'Icons'"></i>
                        <span class="label">{{tab.name}}</span>
                    </li>
                </ul>
            </div>
            <div class="sidenav-content fade-in-out-animation" add-class-to-children="sidenav-panel"
                 *ngIf="!sidenavCollapsed" [ngSwitch]="selectedTab.name">
                <prm-color-theme *ngSwitchCase="'Theme'"></prm-color-theme>
                <prm-edit-images *ngSwitchCase="'Images'"></prm-edit-images>
                <prm-icons-picker *ngSwitchCase="'Icons'"></prm-icons-picker>
                <prm-features-list *ngSwitchCase="'Addons'" [queryPackageName]="queryPackageName"></prm-features-list>
                <prm-editor *ngSwitchCase="'Editor'" (expandTab)="onExpandTab($event)"></prm-editor>
                <prm-download-package *ngSwitchCase="'Download'"></prm-download-package>
                <prm-upload-package *ngSwitchCase="'UploadPackage'"></prm-upload-package>
                <prm-tests *ngSwitchCase="'Tests'" (haveResults)="onHaveResults($event)"></prm-tests>
            </div>
        </div>
    </aside>
    <main class="app-stage" *ngIf="isUp()">
        <ng-container *ngIf="!isInTestTabWithResults(); else testTabWithResults" [@easeInOutAnimation]>
            <iframe id="primo-explore-iframe" class="app-iframe" *oneTimeBinding [src]="getIframeUrl()"></iframe>
        </ng-container>

        <ng-template #testTabWithResults>
            <prm-tests-results class="test-results" [@easeInOutAnimation]></prm-tests-results>
        </ng-template>
    </main>

</div>
