<div class="feature-configuration-form">
    <div class="form" ng-repeat="form in $ctrl.forms">
        <button type="submit" class="remove-button" ng-if="$ctrl.forms.length > 1" ng-click="$ctrl.removeConfigItem($index)">
            <i ng-if="!$ctrl.inProgress[item.npmid]" class="icon-remove"></i>
            Remove Item
        </button>
        <formly-form  model="$ctrl.formsData[$index]" fields="$ctrl.forms[$index]" style="padding: 10px">
        </formly-form>
        <hr>
    </div>
    <button ng-if="$ctrl.configItemCounter" ng-click="$ctrl.addConfigItem()">
        <i ng-if="!$ctrl.inProgress[item.npmid]" class="icon-add"></i>
        Add Item
    </button>
    <button type="submit" class="submit-button" ng-click="$ctrl.submit($ctrl.forms)">Submit</button>
</div>