<div class="app-wrapper">

    <prm-configuration-form ng-class="{'is-running': $ctrl.isUp()}"></prm-configuration-form>

    <aside class="app-sidenav" ng-if="$ctrl.isUp()">
        <div class="sidenav-title">
            <img src="images/Exlibris_ProQuest-logo.png" alt="">
            <span>Pimp My Primo </span>
        </div>
        <div class="sidenav-main">
            <div class="sidenav-nav">
                <ul>
                    <li ng-repeat="tab in $ctrl.tabs" title="{{tab.name}}" ng-click="$ctrl.selectTab(tab.name)" ng-class="{'is-selected': tab.name == $ctrl.selectedTab}">
                        <i class="icon-{{tab.icon}}"></i>
                    </li>
                </ul>
            </div>
            <div class="sidenav-content">
                <prm-color-theme ng-if="$ctrl.selectedTab == 'Theme'" class="sidenav-panel"></prm-color-theme>
                <prm-edit-images ng-if="$ctrl.selectedTab == 'Images'" class="sidenav-panel"></prm-edit-images>
                <prm-features-list ng-if="$ctrl.selectedTab == 'Features'" class="sidenav-panel"></prm-features-list>
                <prm-download-package ng-if="$ctrl.selectedTab == 'Download'" class="sidenav-panel"></prm-download-package>
            </div>
        </div>
    </aside>
    <main class="app-stage" ng-if="$ctrl.isUp()">
        <iframe id="primo-explore-iframe" class="app-iframe" src="{{::$ctrl.getIframeUrl()}}"></iframe>
    </main>


    <!-- <div>
            <button href="{{::$ctrl.getIframeUrl()}}" target="_blank">Open in full view</button>
            <iframe id="primo-explore-iframe" style="min-width:100%;min-height:100%" ng-if="$ctrl.isUp()" src="{{::$ctrl.getIframeUrl()}}"></iframe>
            <button ng-click="$ctrl.restart()" ng-if="$ctrl.isUp()">Restart server(wait 10 seconds after changes)</button>
        </div> -->
</div>