
<div class="app-wrapper">
    <!-- <div> -->
        <!-- <div md-dynamic-height md-border-bottom flex="40"> -->
            <!-- <div label="Configuration"> -->
                
                    <prm-configuration-form ng-if="!$ctrl.isUp()"></prm-configuration-form>
            <!-- </div> -->
            <!-- <div label="Theme"> -->
                
                    <prm-color-theme ng-if="$ctrl.isUp()"></prm-color-theme>
                <!-- </div>
            </div> -->
            <!-- <div label="Images" > -->
                
                    <prm-edit-images ng-if=""></prm-edit-images>
                <!-- </div>
            </div> -->
            
            <!-- <div label="Features" ng-if=""> -->
                
                    <prm-features-list ng-if=""></prm-features-list>
                <!-- </div>
            </div> -->
            <!-- <div label="Download Package" ng-if=""> -->
                
                    <prm-download-package ng-if=""></prm-download-package>
            <!-- </div> -->

            <!--<md-tab label="Templates">-->
            <!--<div class="md-padding">-->
            <!--<h1 class="md-display-2">Templates</h1>-->
            <!--<p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>-->
            <!--</div>-->
            <!--</md-tab>-->

        <!-- </div> -->

        <div ng-if="">
            <button href="{{::$ctrl.getIframeUrl()}}" target="_blank">Open in full view</button>
            <iframe id="primo-explore-iframe" style="min-width:100%;min-height:100%" ng-if="$ctrl.isUp()" src="{{::$ctrl.getIframeUrl()}}"></iframe>
            <button ng-click="$ctrl.restart()" ng-if="$ctrl.isUp()">ReStart server(wait 10 seconds after changes)</button>
        </div>
    <!-- </div> -->
</div>


