<div class="form inner-wrapper" ng-if="!$ctrl.isUp()">
    <header>
        <h1>Primo Studio Configuration</h1>
        <p class="italics">Enter Primo UI base url and view that you would like to use for preview the customization on.</p>
    </header>
    <section class="content">

        <div class="content-row input-wrapper">
            <label for="primo-url">Primo URL</label>
            <input id="primo-url" type="text" ng-model="$ctrl.config.url">
        </div>

        <div class="content-row input-wrapper">
            <label for="primo-view">Primo View</label>
            <input id="primo-view"  type="text" ng-model="$ctrl.config.view" placeholder="Primo View Identifier (vid)">
        </div>

        <div class="content-row input-wrapper checkbox-wrapper">
            <label for="primo-ve">
                <input id="primo-ve" type="checkbox" ng-model="$ctrl.config.ve">
                Primo VE
            </label>
        </div>


    </section>
    <footer>
        <button  class="accent" ng-click="$ctrl.start()">
            <i class="icon-play_arrow"></i>
            <span>Start your studio with the above details</span>
        </button>
    </footer>

</div>

<div class="status inner-wrapper" ng-if="$ctrl.isUp()">
    <span class="server-on"></span>
    <span>Preview is running</span>
    <button  ng-click="$ctrl.stop()">
        <i class="icon-stop"></i>
        <span>Back to Configuration</span>
    </button>
</div>
