<div class="inner-wrapper">
    <h1>Configuration</h1>
    <p>Enter Primo server and environment that you would like to apply the customization to.</p>
    <!-- <div> -->

    <!-- <div> -->
    <div class="content">

        <div class="content-row input-wrapper">
            <label for="primo-url">Primo URL</label>
            <input id="primo-url" ng-disabled="$ctrl.isUp()" type="text" ng-model="$ctrl.config.url">
        </div>
        
        <div class="content-row input-wrapper">
            <label for="primo-view">Primo View</label>
            <input id="primo-view" ng-disabled="$ctrl.isUp()" type="text" ng-model="$ctrl.config.view" placeholder="Primo View Identifier (vid)">
        </div>
        
    </div>
    <div>
        <button ng-if="!$ctrl.isUp()" ng-click="$ctrl.start()">Start server with above details</button>
        <p ng-if="$ctrl.isUp()">Server is running.</p>
        <button ng-if="$ctrl.isUp()" ng-click="$ctrl.stop()">Stop server</button>
    </div>


    <!-- </div> -->

</div>