prm-icons-picker {
    padding: 2rem;
    display: block;
    label {
        margin-right: 1rem
    }
    input[type="text"] {
        flex: none !important;
        width: 90px;
        text-align: center;
        margin-right: 1rem
    }
    input[type="color"] {
        flex-shrink: 0;
    }
}
