<h2>Icons picker</h2>
<p class="italics">
    Change Primo's entire set of icons with your own icons
</p>
<div class="content">

    <div ng-if="$ctrl.icons" class="content-row input-wrapper" ng-repeat="(key,value) in $ctrl.icons">
        <span>{{key}}</span>
        <div mdi-picker  />
        <!--viewBox="{{$ctrl.getViewBoxText(value.viewBox)}}" ng-bind-html="$ctrl.iconPickerService.parseFromString(value.path, 'text/xml')"-->
    </div>

</div>

<button ng-click="$ctrl.createTheme()" ng-disabled="$ctrl.inProgress">
    <i ng-if="!$ctrl.inProgress" class="icon-refresh"></i>
    <prm-busy-spinner ng-if="$ctrl.inProgress"></prm-busy-spinner>
    Update Icons
</button>