<h1 class="md-display-1">Theme</h2>

<!-- <md-card> -->
    <!-- <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Choose colors</span>
            <span class="md-subhead">Review the Preview on the right and apply changes</span>
        </md-card-title-text>
    </md-card-title> -->

    <!-- <md-card-content> -->
        <div class="content">

            <div class="content-row input-wrapper" ng-repeat="(key,value) in $ctrl.getColors()">
                <label for="{{key}}">{{key}}</label>
                <input id="{{key}}" type="text" ng-model="$ctrl.colors[key]">
                <input type="color"
                
                onchange="clickColor(0, -1, -1, 5)"
                ng-model="$ctrl.colors[key]">

            </div>
            
        </div>



    <!-- </md-card-content> -->
    <button ng-click="$ctrl.createTheme()">Update Theme</button>
<!-- </md-card> -->