<h2>Theme</h2>
<p class="italics">
    Change Primo's entire color theme with granular control over base colors
</p>
<div class="content">

    <div class="content-row input-wrapper" ng-repeat="(key,value) in $ctrl.getColors()">
        <label for="{{key}}">
            <span ng-if="key !== 'backgroundColor'">{{key}}</span>
            <span ng-if="key == 'backgroundColor'">background</span>
        </label>
        <input id="{{key}}" type="text" ng-model="$ctrl.colors[key]">
        <input type="color" onchange="clickColor(0, -1, -1, 5)" ng-model="$ctrl.colors[key]">

    </div>

</div>

<button ng-click="$ctrl.createTheme()">
    <i class="icon-refresh"></i>
    Update Theme
</button>