<h2>Upload Package</h2>
<p class="italics">Upload package zip file to continue working from existing package</p>

<div class="content">

    <div class="content-row-column">
        <!--<span class="top-label">Package:</span>-->
        <input  type="file"
                name="upload-package"
                id="upload-package"
                class="inputfile"
                (change)="setPackage($event.target.files)"
                accept=".zip"/>
        <label for="upload-package" id="label-for-upload-package">
            <span>Choose package</span>
        </label>
    </div>

    <button id="button-upload-package"
            class="accent"
            (click)="uploadPackage()"
            [disabled]="uploadDisabled">
        <i class="icon-cloud_upload"></i>
        <span>Upload package</span>
    </button>

</div>
